apiVersion: apps/v1
kind: Deployment
metadata:
  name: vimal-demo-webapp
  namespace: vimal-demo
  labels:
    app: vimal-demo-webapp
spec:
  replicas: 2
  selector:
    matchLabels:
      app: vimal-demo-webapp
  template:
    metadata:
      labels:
        app: vimal-demo-webapp
    spec:
      containers:
        - name: web
          # Jenkins will replace __IMAGE__ with your ECR image (repo:tag)
          image: "__IMAGE__"
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:
            - name: ASPNETCORE_URLS
              value: "http://0.0.0.0:8080"
          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 20

